<nav aria-label="Page navigation example">
  <ul class="pagination" style="cursor: pointer">
    <li class="page-item" [ngClass]="{ disabled: currentPage === 0 }">
      <a (click)="currentPage = currentPage - 1" class="page-link">Prev</a>
    </li>
    <!-- ng-container was build to overcome the problem of not being able to use more than 1 directive on a container , so we can use ng-container to apply multiple directives instead of wrapping around a div -->
    <ng-container *ngFor="let image of images; let i = index">
      <li
        class="page-item"
        [ngClass]="{ active: i === currentPage }"
        *ngIf="checkWindowIndex(i)"
      >
        <a (click)="currentPage = i" class="page-link">{{ i + 1 }}</a>
      </li>
    </ng-container>
    <li
      class="page-item"
      [ngClass]="{ disabled: currentPage === images.length - 1 }"
    >
      <a (click)="currentPage = currentPage + 1" class="page-link">Next</a>
    </li>
  </ul>
</nav>
<br />
<div>
  <!-- <h1 appClass [backgroundColor]="'red'">{{ images[currentPage].title }}</h1> -->
  <h1 [appClass]="'orange'">{{ images[currentPage].title }}</h1>
  <h2>{{ images[currentPage].url }}</h2>
</div>

<div [ngSwitch]="currentPage">
  <div *ngSwitchCase="0">Current page is 0</div>
  <div *ngSwitchCase="2">Current page is 2</div>
  <div *ngSwitchCase="4">Current page is 4</div>
  <div *ngSwitchDefault>Current page is Unknown!</div>
</div>

<ul *appTimes="5; let i = index">
  <li>
    Hi there
    <p>{{ i }}</p>
  </li>
</ul>
